* {
	box-sizing: border-box;
}

body {
	background-color: #00A573;
	width:95%;
	text-align: center;
	margin: 1rem;
	font-size: 1rem;
	color: #000000;
	font-family: 'Jaldi', sans-serif;
}
h1 {
	font-family: 'Russo One', sans-serif;
	font-size: 1.5rem;
}
h2 {
	font-size: 1.2rem;
	margin-bottom: .3rem;
	font-style: oblique;
	font-weight:bold;
}
h2, p {
	text-align: left;
}
h1, p {
	margin-bottom: 1rem;
}

header img {
	display: inline-block;
	height: 15.5vw;
	margin: auto;
}

header {
 margin-bottom: 1rem;
}
header, .main, footer {
	display: block;
}
nav a {
	display: block;
	height: auto;
	margin-bottom: 4px;
	padding: 6px;
	background-color: #00815A;
	border: 2px solid #006546;
	border-radius: 10px;
	color: #000000;
}

.banner {
	border-radius: 13px;
}
td {
	width: auto;
	padding: 0 .5rem;
	font-size: 1.3rem;
}
nav {
	width: 19%;
	height: auto;
}

a {
	text-decoration: none;
	color: #006546;
}

a:hover {
	color: yellowgreen;
}

nav a:hover {
	color: #0066ff;
	background-color: #004d00;
}

.content {
	width: 73%;
	min-height: 74vh;
	margin: 10px;
	margin-top: 0;
	position: relative;
}

footer {
  width: 100%;
  height: 50px;
	padding-top: 1rem;
	font-size: .7rem;
}

.main {
	width: 100%;
}

.main nav, .content{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 1rem;
}
.content a {
	color: black;
}

.content img {
	width: 100%;
}

@media (min-width: 600px) {
	.main nav, .content {
  	display: block;
	}
	nav a{
		display: inline-block;
		font-size: 1.2rem;
		width: 10rem;
	}
	nav {
		width: 100%;
	}
	.content {
		width: 80%;
		margin: auto;
	}
	.img-box {
		width: 33%;
		display: inline-block;
		vertical-align: top;
	}
}
	
.cookies {
	position: absolute;
	bottom: 1rem;
	}





